:root {
  --fff: #fefefe;
  --dark: #333;

  --footer: #111111;

  --bg: #0b0b0b;
  --bg-game: #0e0e0e;

  --green: rgb(45, 200, 66);
  --green-dark: rgb(46, 46, 46);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg);
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
  background-color: var(--bg-game);
}
.wrapper h1 {
  margin: 0 auto;
  color: var(--fff);
}
video {
  height: 400px;
  width: 350px;
  margin: 0 auto;
}

.debug-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em;
  gap: 1em;
}
.debug-cont div {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  width: 100%;
}
.debug-cont div button {
  width: 100%;
  padding: 0.3em;
  border: 0;
  border-radius: 3px;
}
.avatar {
  background-image: url("/bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  margin: 0em 2em;
  border: 5px solid white;
}
